<div class="d-flex justify-content-center" style="margin-top: 75px">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Kayıt Sayfası</h1>
      </div>
      <div class="card-body">
        <form
          autocomplete="off"
          #registerForm="ngForm"
          (ngSubmit)="register(registerForm)"
        >
          <div class="form-group">
            <label for="name">Ad Soyad</label>
            <input
              class="form-control"
              type="text"
              ngModel
              name="name"
              id="name"
              #name
              [appValid]="name.validity.valid"
              required
              minlength="3"
            />
            <div class="invalid-feedback">
              Ad soyad en az 3 karakter olmalıdır!
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input
              class="form-control"
              ngModel
              type="email"
              id="email"
              name="email"
              #email
              [appValid]="email.validity.valid"
              required
              minlength="3"
            />
            <div class="invalid-feedback">Geçerli bir mail adresi giriniz!</div>
          </div>

          <div class="form-group mt-2">
            <label for="password">Şifre</label>
            <input
              class="form-control"
              ngModel
              type="password"
              id="password"
              name="password"
              #password
              [appValid]="password.validity.valid"
              required
            />
            <div class="invalid-feedback">Şifre alanı boş olamaz!</div>
          </div>
          <div class="form-group mt-2">
            <button
              [disabled]="!registerForm.valid"
              class="btn btn-outline-success w-100"
            >
              Kayıt Ol
            </button>
            <a routerLink="/login" style="float: right">Giriş Yap</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
